<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Books</title>
<link rel="stylesheet" href="/src/assets/books.css">
<script src="/src/assets/books.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="title">
            <h3>List of Books</h3>
            <label for="search-books">
                <input type="text" id="search-books" placeholder="Search Books" onkeyup="handleSearch(event)" />
            </label>
        </div>
        <div class="messages"></div>
        <div class="list-of-books">

        </div>
    </div>
</body>
</html>